<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CTK.Properties.Settings.CTKDBConnectionString" connectionString="Data Source=|DataDirectory|\Data\CTKDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CTK.Properties.Settings.CTKDBConnectionString1" connectionString="Data Source=|DataDirectory|\CTKDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CTK.Properties.Settings.CTKDBConnectionString2" connectionString="Data Source=|DataDirectory|\bin\Debug\Data\CTKDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CTK.Properties.Settings.TestConnectionString" connectionString="Data Source=|DataDirectory|\Data\Test.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CTKDBEntities" connectionString="metadata=res://*/Data.DBE2.csdl|res://*/Data.DBE2.ssdl|res://*/Data.DBE2.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Data\CTKDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="CTKDB_NMEntities" connectionString="metadata=res://*/CTKDB_NM.csdl|res://*/CTKDB_NM.ssdl|res://*/CTKDB_NM.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Data\CTKDB.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <CTK.Properties.Settings>
      <setting name="DBFolder1" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="PassKey" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkingFolder" serializeAs="String">
        <value />
      </setting>
    </CTK.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.3.5" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.3.5" type="System.Data.Entity.SqlServerCompact.Legacy.SqlCeProviderServices, EntityFramework.SqlServerCompact.Legacy" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add name="Microsoft SQL Server Compact Data Provider 3.5" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>